extends layout

block content
    nav
        ul
            li
                a.leftspace(href='#') Applications
            li
                a(href='#') Community
            li
                a(href='#') Prices
            li
                a.leftspace(href='/login') Identify
            li
                a(href='/register') Register

    .container
        .column-left 
            h2 nu+warehouse
            p
                a(href=activationLink) Click here to activate your account.
        .column-image
            img(src='images/homepage-desktop.png' alt='Image 1')
