extends layout

block content
    nav
        ul
            li
                a.leftspace(href='#') Applications
            li
                a(href='#') Community
            li
                a(href='#') Prices
            li
                a.leftspace(href='/login') Identify
            li
                a(href='/register') Register

    .container
        .column-left 
            h2 nu+warehouse
            p Thanks for joining CodeBiting! To activate your account, click the link we sent to your email 
                b #{userEmail}.
            p If you can't find the email, check your spam folder.
        .column-image
            img(src='images/homepage-desktop.png' alt='Image 1')
