extends layout

block content
    nav
        ul
            li
                a.leftspace(href='#') Applications
            li
                a(href='#') Community
            li
                a(href='#') Prices
            li
                a.leftspace(href='/login') Identify

    .container
        .column-left 
            form(action='/register' method='post')
                label(for='firstname') First name:
                input#fname(type='text' name='firstname' value='' autofocus required='' minlength='3' maxlength='100')
                br
                label(for='lastname') Last name:
                input#fname(type='text' name='lastname' value='' required='' minlength='3' maxlength='100')
                br
                label(for='username') User name:
                input#fname(type='text' name='username' value='' required='' minlength='8' maxlength='100')
                br
                label(for='password1') Password:
                input#user(type='password' name='password1' value=user required='' minlength='8' maxlength='72')
                br
                label(for='password2') Password:
                input#user(type='password' name='password2' value=user required='' minlength='8' maxlength='72')
                br
                label(for='email') Email:
                input#user(type='email' name='email' value=user required='' minlength='3' maxlength='200')
                br
                hr
                label(for='organization') Organization name:
                input#fname(type='text' name='organization' value='' required='' minlength='3' maxlength='100')
                br
                label(for='vatnumber') Vat number:
                input#fname(type='text' name='vatnumber' value='' required='' minlength='3' maxlength='100')
                br
                label(for='country') Country:
                input#fname(type='text' name='country' value='' required='' minlength='3' maxlength='100')
                br
                label(for='city') City:
                input#fname(type='text' name='city' value='' required='' minlength='1' maxlength='100')
                br
                label(for='zipcode') Zip code:
                input#fname(type='text' name='zipcode' value='' required='' minlength='3' maxlength='10')
                br
                label(for='address') Address:
                input#fname(type='text' name='address' value='' required='' minlength='3' maxlength='255')
                br
                hr
                br
                input#submitof(name="submitCode" type='submit' value='Register' style='width: 20%;')
        .column-image
            img(src='images/homepage-desktop.png' alt='Image 1')
    .section-gray
        h2 One application for all warehouse
        .container
            .column-left
                p
                    | Traditional Warehouse:
                    | This is a standard storage facility for goods, usually organized with racks, shelves, and pallets for efficient storage and retrieval.
                p
                    | Automated Warehouse:
                    | An advanced type of warehouse that employs automation and robotic systems to handle the movement and storage of goods, optimizing efficiency.
                p
                    | Cold Storage Warehouse:
                    | Specifically designed to store perishable goods, such as food and pharmaceuticals, at low temperatures to maintain their freshness and quality.
                p
                    | Distribution Center:
                    | A facility that acts as a central hub for receiving, storing, and distributing products to various locations, often part of a larger supply chain network.
                p
                    | Fulfillment Center:
                    | A specialized facility for packing and shipping online orders, commonly used in e-commerce operations.
                p
                    | Cross-Docking Facility:
                    | A logistics hub where products are received and immediately shipped out without long-term storage, reducing inventory holding costs.
                p
                    | High-Bay Warehouse:
                    | A warehouse with tall storage racks, allowing for vertical storage and maximizing the use of available vertical space.
                p
                    | Retail Warehouse:
                    | A warehouse attached to or part of a retail store, used for storing excess stock or managing inventory for the retail operation.

            .column-image
                img(src='images/warehouse01.png' alt='Image 2')

    h2 One application with all features
    .container
        .column-center Goods reception
            p
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla tincidunt bibendum justo, ac facilisis ipsum ultrices nec.
        .column-center Putaway
            p
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla tincidunt bibendum justo, ac facilisis ipsum ultrices nec.
        .column-center Cross-docking
            p
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla tincidunt bibendum justo, ac facilisis ipsum ultrices nec.
        .column-center Picking
            p
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla tincidunt bibendum justo, ac facilisis ipsum ultrices nec.
    .container
        .column-center Expedition packaging
            p
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla tincidunt bibendum justo, ac facilisis ipsum ultrices nec.
        .column-center Carrier management
            p
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla tincidunt bibendum justo, ac facilisis ipsum ultrices nec.
        .column-center Labelprinting
            p
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla tincidunt bibendum justo, ac facilisis ipsum ultrices nec.
        .column-center ERP integration
            p
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla tincidunt bibendum justo, ac facilisis ipsum ultrices nec.
    .section-gray
        h2 Choose your plan
        .container
            .column-center Free
                p
                    | Multitenant app with shared database
            .column-center Pro
                p
                    | Multitenant app with dedicated database
            .column-center Enterprise
                p
                    | Single tenant app with dedicated database
    .container
        .column-bottom
            p
                a.bottom(href='#') Start Now, it's free!
            p 
                | Already have an account?&nbsp;
                a.bottom(href='#') Sign in    
            p
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla tincidunt bibendum justo, ac facilisis ipsum ultrices nec.

