/* 
Warehouse pantone
Gray => #292f32
Blue => #3c5c6d
Flesh => #a97a5f
Yellow => #edd017
Red => #7a2228
*/
body {
  padding: 50px;
  font: 22px Verdana, Helvetica, Arial, sans-serif;
}

a {
  color: #3c5c6d;
}

/* Add your CSS styles here */
body {
    background-color: #fff; 
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #292f32;
    padding: 0px 0;
}

header {
    color: #fff;
    padding: 10px 0;
}

nav {
    /*background-color: #7a2228;
    color: #edd017;*/
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #3c5c6d;
}

li {
    float: left;
}

a {
    display: inline-block;
    text-align: center;
    padding: 14px 32px;
    text-decoration: none;
    color: #fff;
    background-color: #222;
}

.leftspace {
    margin-left: 164px;
}

a.content {
    background-color: #3c5c6d;
}


a:hover {
    background-color: #292f32;
}

a.bottom {
    background-color: #292f32;
}

a.bottom:hover {
    background-color: #7a2228;
}

h2 {
    font-size: 1.5em;
    font-weight: bold;
    margin: 50;
    padding: 50;
    margin-left: 86px;
}

.content {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

img {
    max-width: 800px;
    height: auto;
}

.big {
    font-size: 2em;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.section-gray {
    background-color: #efefef;
}

.container {
    display: flex;
    height: 100%;
}

.column-left {
    flex: 1;
    padding: 100px;
    border: 0px solid #ccc;
    text-align: left;
}

.column-center {
    flex: 1;
    padding: 20px;
    border: 0px solid #ccc;
    text-align: center;
    /*background-color: #7a2228;
    color: #edd017;*/
}

.column-image {
    flex: 1;
    padding: 20px;
    border: 0px solid #ccc;
    text-align: left;
}

.column-bottom {
    flex: 1;
    padding: 20px;
    border: 0px solid #ccc;
    text-align: center;
    color: #fff;
    background-color: #3c5c6d;
}





input[type=text] {
    width: 50%;
    padding: 6px 10px;
    margin: 8px 8px;
    box-sizing: border-box;
    font: 24px "Lucida Grande", Helvetica, Arial, sans-serif;
    background-color : #edd017;
    color: #292f32;
    border-radius: 4px;
  }
  
  input[type=password] {
    width: 50%;
    padding: 6px 10px;
    margin: 8px 8px;
    box-sizing: border-box;
    font: 24px "Lucida Grande", Helvetica, Arial, sans-serif;
    background-color : #edd017;
    color: #292f32;
    border-radius: 4px;
  }
  
  input[type=number] {
    width: 25%;
    padding: 6px 10px;
    margin: 8px 8px;
    box-sizing: border-box;
    font: 24px "Lucida Grande", Helvetica, Arial, sans-serif;
    background-color : #edd017; 
    color: #292f32;
    border-radius: 4px;
  }

  input[type=email] {
    width: 75%;
    padding: 6px 10px;
    margin: 8px 8px;
    box-sizing: border-box;
    font: 24px "Lucida Grande", Helvetica, Arial, sans-serif;
    background-color : #edd017; 
    color: #292f32;
    border-radius: 4px;
  }
  
  input[type=button] {
    width: 10%;
    padding: 6px 10px;
    margin: 8px 8px;
    box-sizing: border-box;
    font: 24px "Lucida Grande", Helvetica, Arial, sans-serif;
    border-radius: 4px;
  }
  
  select {
    width: 20%;
    padding: 6px 10px;
    margin: 8px 8px;
    box-sizing: border-box;
    font: 24px "Lucida Grande", Helvetica, Arial, sans-serif;
    background-color : #edd017;
    color: #292f32;
    border-radius: 4px;
  }
  
  input[type=submit] {
    width: 100%;
    padding: 6px 10px;
    margin: 8px 8px;
    box-sizing: border-box;
    font: 24px "Lucida Grande", Helvetica, Arial, sans-serif;
    border-radius: 4px;
  }

  #errorbox, #errorbox2, #success {
    visibility: hidden;
    position: absolute;
    width: 500px;
    top: 75px;
    font-size: 15px;
    border-radius: 12px;
    padding: 10px;
  }

  #errorbox, #errorbox2 {
    border: red solid 1px;
    background-color: #fcc;
  }

  #success {
    border: green solid 1px;
    background-color: rgb(209, 255, 218);
  }

  #circle {
    position: absolute;
    left: 80px;
    width: 20px;
    height: 20px;
    background-color: #3498db;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  
  #info-icon {
    font-size: 16px;
    color: #fff;
  }
  
  #popup {
    position: absolute;
    left: 25px;
    width: 200px;
    background-color: #333;
    color: #fff;
    font-size: 14px;
    padding: 10px;
    border-radius: 5px;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.3s, opacity 0.3s;
  }
  
  #circle:hover #popup {
    visibility: visible;
    opacity: 1;
  }